* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Caveat", cursive;
  font-family: "Roboto", sans-serif;
}

%center {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  @extend %center;
  min-width: 100%;

  height: 100vh;

  background: #222222;

  background-position: center;
  background-size: cover;
  overflow-y: hidden;

  .cont {
    @extend %center;

    flex-direction: column;
    justify-content: space-around;

    max-width: 500px;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
  }
}

#header {
  @extend %center;
  height: fit-content;
  padding: 5px;
  flex-direction: column;
  color: white;
  letter-spacing: 1px;
}
form {
  @extend %center;

  width: 100vw;
  max-width: 500px;
  height: 40px;
  box-shadow: 1px 1px 3px black;

  input,
  button {
    cursor: pointer;
    outline: 0;
    border: none;
  }
  input {
    width: 80%;
    height: 40px;
    padding: 10px;
  }

  button {
    width: 20%;
    height: 40px;
    background: rgb(5, 5, 78);
    color: white;
    transition: 0.3s;

    &:hover {
      background: rgb(63, 63, 63);
    }
  }
}

#result {
  height: fit-content;
  min-height: 200px;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  @extend %center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.6);
  animation: opacity 2s linear;
  padding: 10px;
  border-radius: 5px;
  span {
    display: inline-block;
    width: 130px;
    text-align: start;
    &:nth-child(1) {
      text-align: center;
    }
  }

  a & > * {
    margin: 5px 20px;
  }

  p {
    span {
      &:nth-child(1) {
        display: inline-block;
        width: 100px;
        text-align: end;
        color: darkblue;
      }
      &:nth-child(2) {
        padding: 0 10px;
      }
    }
  }

  h3 {
    @extend %center;
    flex-direction: column;
    margin: 0 auto;
  }
}

#err {
  width: 100%;
  height: 50px;
  margin: 0 auto;
  text-align: center;
  font-weight: bold;
  &.none {
    display: none;
  }
  &.block {
    @extend %center;
  }
}
